<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Save a Markdown file in Dropbox and sync it instantly to Evernote">
    <meta name="author" content="Travis Giggy">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata">

    <title>{{{site-title}}}</title>

    <!-- Bootstrap and custom styles -->
    {{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}



  </head>

  <body>

    <div class="container">

      <nav class="navbar">
        <a class="navbar-brand" href="/">{{site-title}}</a>

        <ul class="nav nav-pills pull-right">
          {{#navbar}}
            <li class="nav-item{{active}}"><a class="nav-link" href="{{{href}}}">{{label}}</a></li>
          {{/navbar}}
        </ul>
      </nav>
